body{
    height: 100vh;
    margin: 0%;
}
.container{
    height: 100%;
    width: 100%;
}
.header{
    display: flex;
    height: 56px;
    width: 100%;
    background-color: rgb(35, 61, 117);
}
.header-buttons-wrapper{
    width: 80%;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}
.header-buttons{
    font-family: 'Roboto', sans-serif;
    background: none;
    border-style: none;
    margin-left: 5%;
    transition: 0.45s;
    color: #fff;
}
.header-buttons:hover{
    opacity: 0.77;
    color: rgb(241, 177, 37);
    cursor: pointer;
}
.body-wrapper{
    height: 100%;
    width: 100%;
}
#company-logo-wrapper{
    margin-left: 3%;
    margin-top: 1%;
}