body{
    height: 100vh;
    margin: 0%;
}
.container{
    display: grid;
    height: inherit;
    width: inherit;
    transition: 0.45s;
}
.header{
    display: flex;
    height: 56px;
    width: 100%;
    background-color: rgb(0, 16, 104);
}
.header-buttons-wrapper{
    width: 80%;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}
.header-buttons{
    font-family: 'Roboto', sans-serif;
    background: none;
    border-style: none;
    margin-left: 5%;
    transition: 0.45s;
    color: #fff;
}
.header-buttons:hover{
    opacity: 0.77;
    color: rgb(241, 177, 37);
    cursor: pointer;
}
.category-wrapper{
    width: 494px;
    height: 0px;
    display: flex;
    align-items: center;
    position: absolute;
    transition: 0.15s;
    overflow: hidden;
    margin-top: 56px;
    margin-left: 90px;
}   
.drop-down-categories{
    height: 313px;
    width: 492px;
    background-color: rgb(0, 16, 104);
    position: absolute;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    user-select: none;
}
li{
    list-style: none;
    height: max-content;
    width: max-content;
    cursor: pointer;
    user-select: none;
}
li:hover{
    color: rgb(241, 177, 37);
}
li:not(:first-child){
    margin-top: 16px;
}
.all-categories{
    margin-top: 4%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    width: 112px;
    font-weight: bold;
    height: max-content;
}
nav:not(:first-child){
    margin-left: 47px;
}
.body-wrapper{
    height: 100%;
    width: 100%;
}
#company-logo-wrapper{
    margin-left: 3%;
    margin-top: 1%;
}
.footer{
    width: 100%;
    height: 310px;
    background-color: rgb(0, 16, 104);
    margin-top: 109px;
}
#footer-meaningless-message{
    color:#fff;
}